/*********COLORS********/
$primary-color:#1f2039;
$h1-color:#A5B4FC;

/*********FONTS**********/
$paragraph-font:'manrope',sans-serif;
$h1-font:'montserrat',sans-serif;
/********FONT-SIZE******/
$paragraph-size:1.1em;
$h1-size:2em;